.push-top-down-xxs {
    margin-top:.5em;
}

.push-top-down-xs {
    margin-top:1em;
}

.push-top-down-sm {
    margin-top:1.5em;
}

.push-top-down-md {
    margin-top:2em;
}

.push-bottom-up-xxs {
    margin-bottom:.5em;
}

.push-bottom-up-xs {
    margin-bottom:1em;
}

.push-bottom-up-sm {
    margin-bottom:1.5em;
}

.push-bottom-up-md {
    margin-bottom:2em;
}

.list > div {
    padding:10px;
}

.list > div:nth-child(odd) {
    background-color:#eee;
}