.push-top-down-xxs {
    margin-top:.5em;
}

.push-top-down-xs {
    margin-top:1em;
}

.push-top-down-sm {
    margin-top:1.5em;
}

.push-top-down-md {
    margin-top:2em;
}

.push-bottom-up-xxs {
    margin-bottom:.5em;
}

.push-bottom-up-xs {
    margin-bottom:1em;
}

.push-bottom-up-sm {
    margin-bottom:1.5em;
}

.push-bottom-up-md {
    margin-bottom:2em;
}

.list > div {
    padding:10px;
}

.list > div:nth-child(odd) {
    background-color:#eee;
}

.fixed-message {
    position: fixed;
    display:block;
    margin: auto;
    top: -2px;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index:700;
    width: 38em;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 1em rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 1em rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 1em rgba(0, 0, 0, 0.3);
}

.offline-theme {
    font-family: "Lucida Grande", sans-serif;
    font-size: 14px;
    padding: 1em;
    max-width: 100%;
    background: #f6f6f6;
    color: #444444;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}